img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

body {
    background-color: #BAA560;
}
#container {
    background-color:#2E7122;
    padding: 50px;
    width: 76%;
    margin: 50 40;
    border: 5px solid black;
    display: grid;
    place-items: center;
}
#border {
    display: grid;
    place-items: center;
}
.Construction {
    text-align: center;
    color: #BAA560;
    font-size: 33px;
    text-shadow: 2px 1px 2px #000;
}
.images {
    display: grid;
    place-items: center;
}
.colum{
    padding: 10px;
    margin: 12px;
    border: 3px solid goldenrod;
    width: 86.33%;
    border-radius: 30px;
    display: flex;

}
#Bottom{
    display: flex;
}

header h1 { 
    text-align: center;
    font-size: 55px;
    color:#BAA560;
    text-shadow: 2px 1px 2px #000;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
nav {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: middle;
    padding: 10px;
    
}
nav a {
    color: #BAA560;
    font-size: 24px;
    font-weight: bold;
    margin: 0 10px;
}

nav li{ 
    display: block;
}

nav li a {
    display: block;
    height: 40 px;
    line-height: 40px;
}
nav a:hover {
    color: black;
    text-decoration: none;
}

a{
    color: goldenrod;
}
a:hover {
    color: #000;
    text-decoration: none;
}
footer{
    padding: 40px 0;
    text-align: center;
}
/*tablet Style*/
@media(min-width: 768px) {
    nav {
        text-align: center;
    }
    nav li {display: inline-block;
    }
    nav li a {
        width: 200px;
    }
    main img {
        width: 50%;
    }
    .colum img {
        width: 75%;
    }
}

/* Desktop Style */
@media (min-width: 1024px) {
    .images {
        width: 100%;
        place-items: center;
    }
    .colum {
        width: 100.33%;
    }
}